.dashboard-card {
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--main-bg);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  position: relative;
  z-index: 1;

  height: 100%;
}
.dashboard-card__icon {
  width: 30%;
  font-size: 2em;

  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-card__info {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  text-transform: capitalize;
}

.dashboard-card__info > h4 {
  font-size: 2em;
  margin-bottom: 10px;
}
